<div class="card-wrapper wbproduct-container row">
    <div class="wbimgblock col-4">
        {%- if product_card_product.featured_media -%}
            {%- assign media = product_card_product.selected_or_first_available_variant.featured_media -%}
            <div>
                <a href="{{ product_card_product.url | default: '#' }}" title="{{ 'wbcustomlabel.wballtext.products' | t }}">
                    <img class="img-fluid mx-auto" 
                    srcset="{{ media.preview_image | img_url: '350x' }} 350w"
                    src="{{ media.preview_image | img_url: '350x' }} 350w"
                    loading="lazy"
                    width="350"
                    height="350"
                    alt="{{ media.preview_image.alt | escape }}">
                </a>
            </div>
        {%- else -%}
            <div class="card__content">
                <h2 class="card__text h3">
                    <a href="{{ product_card_product.url | default: '#' }}" >
                        {{ product_card_product.title }}
                    </a>
                </h2>
            </div>
        {%- endif -%}
        <div class="card__badge">
            {%- if product_card_product.available == false -%}
                <span>{{ 'products.product.sold_out' | t }}</span>
            {%- elsif product_card_product.compare_at_price > product_card_product.price and product_card_product.available -%}
                <span>{{ 'products.product.on_sale' | t }}</span>
            {%- endif -%}
        </div>
    </div>

    <div class="wbproductdes col-8">
        {%- if product_card_product.featured_media -%}
            <h3 class="product-title"><a href="{{ product_card_product.url | default: '#' }}" >{{ product_card_product.title | escape }}</a></h3>
        {%- endif -%}
        {%- if show_rating -%}
            {%- if product_card_product.metafields.reviews.rating.value != blank -%}
                <div class="wbhrating">
                    {% liquid
                    assign rating_decimal = 0 
                    assign decimal = product_card_product.metafields.reviews.rating.value.rating | modulo: 1 
                    if decimal >= 0.3 and decimal <= 0.7
                    assign rating_decimal = 0.5
                    elsif decimal > 0.7
                    assign rating_decimal = 1
                    endif 
                    %}
                    <div class="rating" role="img" aria-label="{{ 'accessibility.star_reviews_info' | t: rating_value: product_card_product.metafields.reviews.rating.value, rating_max: product_card_product.metafields.reviews.rating.value.scale_max }}">
                        <span aria-hidden="true" class="rating-star" style="--rating: {{ product_card_product.metafields.reviews.rating.value.rating | floor }}; --rating-max: {{ product_card_product.metafields.reviews.rating.value.scale_max }}; --rating-decimal: {{ rating_decimal }};"></span>
                    </div>
                    <p class="rating-text caption">
                        <span aria-hidden="true">{{ product_card_product.metafields.reviews.rating.value }} / {{ product_card_product.metafields.reviews.rating.value.scale_max }}</span>
                    </p>
                    <p class="rating-count caption">
                        <span aria-hidden="true">({{ product_card_product.metafields.reviews.rating_count }})</span>
                        <span class="visually-hidden">{{ product_card_product.metafields.reviews.rating_count }} {{ "accessibility.total_reviews" | t }}</span>
                    </p>
                </div>
            {%- else -%}
                <div class="wbhrating">
                    <div class="rating">
                        <span class="rating-star wbnorating"></span>
                    </div>
                    <p class="rating-count caption">
                        <span aria-hidden="true">(0)</span>
                    </p>
                </div>
            {%- endif -%}
        {%- endif -%}
        <div class="pcardpopup">
            {%- render 'price', product: product_card_product, use_variant: true, show_badges: false -%}
        </div>
    </div>
</div>