{{ 'section-contact-form.css' | asset_url | stylesheet_tag }}

{%- style -%}
.section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top }}px;
    padding-bottom: {{ section.settings.padding_bottom }}px;
}
@media screen and (max-width: 991px) {
    .section-{{ section.id }}-padding {
        padding-top: {{ section.settings.padding_top | times: 0.5 | round: 0 }}px;
        padding-bottom: {{ section.settings.padding_bottom | times: 0.5 | round: 0 }}px;
    }
}
{%- endstyle -%}

<div class="container wbcontform section-{{ section.id }}-padding">
    <div class="row wbcontforminner rless">
        {% if section.settings.enable_contact_address %}
            {% if section.settings.contact_phone %} 
                <ul class="cless col-sm-4 col-12 list-unstyled text-center">
                    <li>{% render 'icon-contactform', icon: section.settings.icon1 %}</li>
                    <li>
                        <h4>{{ section.settings.mobile_title }}</h4>
                        <p>{{ section.settings.mobile }}</p>
                    </li>
                </ul>
            {% endif %}

            {% if section.settings.contact_address %}
                <ul class="cless col-sm-4 col-12 list-unstyled text-center">
                    <li>{% render 'icon-contactform', icon: section.settings.icon2 %}</li>
                    <li>
                        <h4>{{ section.settings.address_title }}</h4>
                        <p> {{ section.settings.address }}</p>      
                    </li>
                </ul>
            {% endif %}
            {% if section.settings.contact_email %} 
                <ul class="cless col-sm-4 col-12 list-unstyled text-center">
                    <li>{% render 'icon-contactform', icon: section.settings.icon3 %}</li>
                    <li>
                        <h4>{{ section.settings.email_title }}</h4>
                        <p>{{ section.settings.email }}</p>  
                    </li>
                </ul>
            {% endif %}
        {% endif %}
    </div>
    <div class="row">
        <div class="contact col-lg-6 col-12">
          {%- form 'contact', id: 'ContactForm' -%}
            {%- if form.posted_successfully? -%}
              <div class="form-status form-status-list form__message" tabindex="-1" autofocus>{% render 'icon-success' %} {{ 'templates.contact.form.post_success' | t }}</div>
            {%- elsif form.errors -%}
              <div class="form__message">
                <h2 class="form-status caption-large text-body" role="alert" tabindex="-1" autofocus>{% render 'icon-error' %} {{ 'templates.contact.form.error_heading' | t }}</h2>
              </div>
              <ul class="form-status-list caption-large" role="list">
                <li>
                  <a href="#ContactForm-email" class="link">
                    {{ form.errors.translated_fields['email'] | capitalize }} {{ form.errors.messages['email'] }}
                  </a>
                </li>
              </ul>
            {%- endif -%}
            <div class="contact__fields">
              <div class="field">
                <input class="field__input" autocomplete="name" type="text" id="ContactForm-name" name="contact[{{ 'templates.contact.form.name' | t }}]" value="{% if form.name %}{{ form.name }}{% elsif customer %}{{ customer.name }}{% endif %}" placeholder="{{ 'templates.contact.form.name' | t }}">
                <label class="field__label" for="ContactForm-name">{{ 'templates.contact.form.name' | t }}</label>
              </div>
              <div class="field field--with-error">
                <input
                  autocomplete="email"
                  type="email"
                  id="ContactForm-email"
                  class="field__input"
                  name="contact[email]"
                  spellcheck="false"
                  autocapitalize="off"
                  value="{% if form.email %}{{ form.email }}{% elsif customer %}{{ customer.email }}{% endif %}"
                  aria-required="true"
                  {% if form.errors contains 'email' %}
                    aria-invalid="true"
                    aria-describedby="ContactForm-email-error"
                  {% endif %}
                  placeholder="{{ 'templates.contact.form.email' | t }}"
                >
                <label class="field__label" for="ContactForm-email">{{ 'templates.contact.form.email' | t }} <span aria-hidden="true">*</span></label>
               {% comment %} {%- if form.errors contains 'email' -%}
                  <small class="contact__field-error" id="ContactForm-email-error">
                    <span class="visually-hidden">{{ 'accessibility.error' | t }}</span>
                    <span class="form__message">{% render 'icon-error' %}{{ form.errors.translated_fields['email'] | capitalize }} {{ form.errors.messages['email'] }}</span>
                  </small>
                {%- endif -%} {% endcomment %}
              </div>
            </div>
            <div class="field">
              <input type="tel" id="ContactForm-phone" class="field__input" autocomplete="tel" name="contact[{{ 'templates.contact.form.phone' | t }}]" pattern="[0-9\-]*" value="{% if form.phone %}{{ form.phone }}{% elsif customer %}{{ customer.phone }}{% endif %}" placeholder="{{ 'templates.contact.form.phone' | t }}">
              <label class="field__label" for="ContactForm-phone">{{ 'templates.contact.form.phone' | t }}</label>
            </div>
            <div class="field">
              <textarea
                rows="10"
                id="ContactForm-body"
                class="text-area field__input"
                name="contact[{{ 'templates.contact.form.comment' | t }}]"
                placeholder="{{ 'templates.contact.form.comment' | t }}"
              >
                {{- form.body -}}
              </textarea>
              <label class="form__label field__label" for="ContactForm-body">{{ 'templates.contact.form.comment' | t }}</label>
            </div>
            <div class="contact__button">
              <button type="submit" class="button">
                {{ 'templates.contact.form.send' | t }}
              </button>
            </div>
          {%- endform -%}
        </div>
        <div class="col-lg-6 col-12">
            {% if section.settings.enable_gmap %}
                <div id="map">{{ section.settings.contact_iframe_code }} </div>
            {% endif %}
        </div>
    </div>
</div>

{% schema %}
{
    "name": "t:sections.contact-form.name",
    "tag": "section",
    "settings": [
        {
            "type": "header",
            "content": "Mobile/Address/Email Details"
        },
        {
            "type": "checkbox",
            "id": "enable_contact_address",
            "label": "Enable Mobile/Address/Email Details?",
            "default": true
        },
        {
            "type": "checkbox",
            "id": "contact_phone",
            "label": "Enable Phone Field",
            "default": true
        },
        {
          "type": "select",
          "id": "icon1",
          "options": [
            {
              "value": "none",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__1.label"
            },
            {
              "value": "box",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__2.label"
            },
            {
              "value": "chat_bubble",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__3.label"
            },
            {
              "value": "check_mark",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__4.label"
            },
            {
              "value": "dryer",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__5.label"
            },
            {
              "value": "eye",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__6.label"
            },
            {
              "value": "heart",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__7.label"
            },
            {
              "value": "iron",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__8.label"
            },
            {
              "value": "leaf",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__9.label"
            },
            {
              "value": "leather",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__10.label"
            },
            {
              "value": "lock",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__11.label"
            },
            {
              "value": "map_pin",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__12.label"
            },
            {
              "value": "pants",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__13.label"
            },
            {
              "value": "plane",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__14.label"
            },
            {
              "value": "price_tag",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__15.label"
            },
            {
              "value": "question_mark",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__16.label"
            },
            {
              "value": "return",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__17.label"
            },
            {
              "value": "ruler",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__18.label"
            },
            {
              "value": "shirt",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__19.label"
            },
            {
              "value": "shoe",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__20.label"
            },
            {
              "value": "silhouette",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__21.label"
            },
            {
              "value": "star",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__22.label"
            },
            {
              "value": "truck",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__23.label"
            },
            {
              "value": "washing",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__24.label"
            },
            {
              "value": "callus",
              "label": "Call"
            },
            {
              "value": "location",
              "label": "Location"
            },
            {
              "value": "email",
              "label": "Email"
            }
          ],
          "default": "callus",
          "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.label"
        },
        {
            "type": "text",
            "id": "mobile_title",
            "label": "Title",
            "default": "Call us"
        },
        {
            "type": "text",
            "id": "mobile",
            "label": "Phone",
            "default": "0123-456-789"
        },

        {
            "type": "checkbox",
            "id": "contact_address",
            "label": "Enable Address Field",
            "default": true
        },
        {
          "type": "select",
          "id": "icon2",
          "options": [
            {
              "value": "none",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__1.label"
            },
            {
              "value": "box",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__2.label"
            },
            {
              "value": "chat_bubble",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__3.label"
            },
            {
              "value": "check_mark",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__4.label"
            },
            {
              "value": "dryer",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__5.label"
            },
            {
              "value": "eye",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__6.label"
            },
            {
              "value": "heart",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__7.label"
            },
            {
              "value": "iron",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__8.label"
            },
            {
              "value": "leaf",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__9.label"
            },
            {
              "value": "leather",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__10.label"
            },
            {
              "value": "lock",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__11.label"
            },
            {
              "value": "map_pin",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__12.label"
            },
            {
              "value": "pants",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__13.label"
            },
            {
              "value": "plane",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__14.label"
            },
            {
              "value": "price_tag",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__15.label"
            },
            {
              "value": "question_mark",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__16.label"
            },
            {
              "value": "return",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__17.label"
            },
            {
              "value": "ruler",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__18.label"
            },
            {
              "value": "shirt",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__19.label"
            },
            {
              "value": "shoe",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__20.label"
            },
            {
              "value": "silhouette",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__21.label"
            },
            {
              "value": "star",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__22.label"
            },
            {
              "value": "truck",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__23.label"
            },
            {
              "value": "washing",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__24.label"
            },
            {
              "value": "callus",
              "label": "Call"
            },
            {
              "value": "location",
              "label": "Location"
            },
            {
              "value": "email",
              "label": "Email"
            }
          ],
          "default": "location",
          "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.label"
        },
        {
            "type": "text",
            "id": "address_title",
            "label": "Title",
            "default": "Location"
        },
        {
            "type": "textarea",
            "id": "address",
            "label": "Address",
            "default": "1093 marigold lane, way Miami, Florida USA"
        },

        {
            "type": "checkbox",
            "id": "contact_email",
            "label": "Enable Email Field",
            "default": true
        },
        {
          "type": "select",
          "id": "icon3",
          "options": [
            {
              "value": "none",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__1.label"
            },
            {
              "value": "box",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__2.label"
            },
            {
              "value": "chat_bubble",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__3.label"
            },
            {
              "value": "check_mark",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__4.label"
            },
            {
              "value": "dryer",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__5.label"
            },
            {
              "value": "eye",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__6.label"
            },
            {
              "value": "heart",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__7.label"
            },
            {
              "value": "iron",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__8.label"
            },
            {
              "value": "leaf",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__9.label"
            },
            {
              "value": "leather",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__10.label"
            },
            {
              "value": "lock",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__11.label"
            },
            {
              "value": "map_pin",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__12.label"
            },
            {
              "value": "pants",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__13.label"
            },
            {
              "value": "plane",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__14.label"
            },
            {
              "value": "price_tag",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__15.label"
            },
            {
              "value": "question_mark",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__16.label"
            },
            {
              "value": "return",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__17.label"
            },
            {
              "value": "ruler",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__18.label"
            },
            {
              "value": "shirt",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__19.label"
            },
            {
              "value": "shoe",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__20.label"
            },
            {
              "value": "silhouette",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__21.label"
            },
            {
              "value": "star",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__22.label"
            },
            {
              "value": "truck",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__23.label"
            },
            {
              "value": "washing",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__24.label"
            },
            {
              "value": "callus",
              "label": "Call"
            },
            {
              "value": "location",
              "label": "Location"
            },
            {
              "value": "email",
              "label": "Email"
            }
          ],
          "default": "email",
          "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.label"
        },
        {
            "type": "text",
            "id": "email_title",
            "label": "Title",
            "default": "Email"
        },
        {
            "type": "text",
            "id": "email",
            "label": "Phone",
            "default": "demo@demo.com"
        },


        {
            "type": "header",
            "content": "Contact Map"
        },
        {
            "type": "checkbox",
            "id": "enable_gmap",
            "label": "Enable Contact Map?"
        },
        {
            "type": "textarea",
            "id": "contact_iframe_code",
            "label": "Map Code[iframe]",
            "info": "[Where do I find googlemap action URL?](https:\/\/support.google.com\/maps\/answer\/3544418?hl=en)"
        },
        {
          "type": "header",
          "content": "t:sections.all.padding.section_padding_heading"
        },
        {
          "type": "range",
          "id": "padding_top",
          "min": 0,
          "max": 100,
          "step": 4,
          "unit": "px",
          "label": "t:sections.all.padding.padding_top",
          "default": 36
        },
        {
          "type": "range",
          "id": "padding_bottom",
          "min": 0,
          "max": 100,
          "step": 4,
          "unit": "px",
          "label": "t:sections.all.padding.padding_bottom",
          "default": 36
        }

  ],
  "presets": [
    {
      "name": "t:sections.contact-form.presets.name"
    }
  ]
}
{% endschema %}
